{% extends "./layout.html" %}

{% block header %}

<h1>Actualizar Laboratorio</h1>

{% endblock header %}

{% block main %}


<form action="actualizarLaboratorio/{{ laboratorio.id }}"method="POST">
    {% csrf_token %}
    <table>

    <tr>
        <td>Nombre</td>
            <td>
                <input type=" text" value="{{ laboratorio.nombre}}" name="nombre">
            </td>
    </tr>
    <tr>
        <td>Ciudad</td>
            <td>
                <input type=" text" value="{{ laboratorio.ciudad}}" name="ciudad">
            </td>
    </tr>
    <tr>
        <td>País</td>
            <td>
                <input type=" text" value="{{ laboratorio.pais}}" name="pais">
            </td>
    </tr>
    

    <tr>
        <td colspan="2" align="center"><input type="submit" class="btn btn-success"> </td>
    </tr>
    </table>
</form>


    <br><br>
    <p>
        <a href="{% url 'ingresar' %}">Ingresar</a>
    </p>

    <p>
        <a href="{% url 'index' %}">Inicio</a>
    </p>

    
{% endblock main %}