

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /*height: 100%;
    scroll-behavior: smooth;*/

}


body {
    display: flex;
    flex-direction: column;
    background-color: #4c4f6b;
    color: #f8f9fa;
    margin: 0;
    height: 100vh;

   /* text-align: center;
    font-weight: 400; 
    font-family: Arial, Helvetica, sans-serif;
    */
}
.contenedor {
    display: flex;  
    flex-grow: 1;
}
.columna-fija {
    width: 40%;
    height: 100vh;
    background-color: #484b63;
    position:fixed;
    padding: 20px;
}

.columna-datos {
    width: 60%;
    margin-left: 40%;

    display:flex !important; /*Se requiere forzar el css */
    padding: 30px; 
    justify-content:center; 
    align-items: center; 
    text-align: center;
}

.table tbody {
    color: white !important;
}

.contenido {
    width: 80%; 
    max-width: 800px;
    text-align: center;

}

.titulo{
    font-size: 50px;
}

.sub-titulo{
    font-size: 25px;
}

/* Navbar */

.nav {
    background: transparent;
    font-size: 20px;
}

.nav-link {
    color: #ffcc0054; 
}
.nav-link:hover {
    color: #ffd633e0; 
}

/* footer */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #3b3d56; /* Color similar a la columna fija */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.iconos a {
    color: #ffcc0054;
    margin: 0 10px;
    font-size: 1.5rem;
}
.iconos a:hover {
    color: #ffd633e0;
}

.empresa{
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

/*Media queries cambiando de tamaño los titulos h1 y h2*/

@media (max-width:1110px){
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 20px;
    }
    }

@media (max-width:856px){
    h1{
        font-size: 14px;
        color:rgb(175, 236, 175);
        text-align: center;
    }
    h2{
        font-size: 18px;
        color:black;
        text-align: center;
    }
    }