

{% extends "./layout.html" %}

{% block header %}

<p>Se produjo un error en el ingreso de los datos, favor intentar nuevamente</p>

{% endblock header %}

{% block main %}

<p>
    <a href="{% url 'ingresar_emp' %}">Ingresar</a>
</p>

<p>
    <a href="{% url 'listar_emp' %}">Listar</a>
</p>

<p>
    <a href="{% url 'index' %}">Inicio</a>
</p>

{% endblock main %}

<!--

        try:
            with transaction.atomic():

                empleado=Empleado(nombre=nombre,correo=correo,cargo=cargo,f_ingreso=f_ingreso,sueldo=sueldo)

                empleado.save()

            return redirect('/crudApp/listar')
        
        except IntegrityError as e:

            return render(request, 'crudApp/error.html')

            

-->