{% extends "./layout.html" %}

{% block header %}
<h1> Listado de Vehiculos </h1>
{% endblock header %}

{% block main %}

<!--Se aplciará clase de bootstrap para completar y listar la tabla con un formato y bordes-->

{% if vehiculos %}

<table class="table table-bordered border-secondary table-sm table-hover table-striped text-center w-75"> 
    <thead class="table-light">
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
        </tr>
    </thead>
    <tbody>

    {% for vehiculo in vehiculos %}
    <!--Tabla para probar formato y datos que se listan-->

        <tr>
            <td>{{ vehiculo.marca }}</td>
            <td>{{ vehiculo.modelo }}</td>
        </tr>
        
    {% endfor %}
    </tbody>
</table>

{% else %}

    <p lcass="text-center alert">No se han registrado vehículos</p>

{% endif %}
 
{% endblock main %}