{% extends "./layout.html" %}

{% block header %}
<h1> Listado de Vehiculos </h1>
{% endblock header %}

{% block main %}

<!--Se aplciará clase de bootstrap para completar y listar la tabla con un formato y bordes-->
<table> 
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
        </tr>
    </thead>
    <tbody>

    {% for vehiculo in vehiculos %}

        <tr>
            <td>{{ vehiculo.marca }}</td>
            <td>{{ vehiculo.modelo }}</td>
        </tr>
        
    {% endfor %}
    </tbody>
</table>

{% endblock main %}