<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}    
    {% load static %}
    <link href="{% static 'appUsersf/css/styles.css' %}" rel="stylesheet">
    <title>{%block title %}Users2024{%endblock title %}</title>
</head>
<body>
    <header> {%block header %}{%endblock header %} </header>
    <main> {%block main %}{%endblock main %} </main>
    <footer> {%block footer %}Users 2024, servicio de Django Auth con vistas basadas en funciones{%endblock footer %} </footer>
</body>
</html>