{% extends "./layout.html" %}
{% block title %}INTRANET{%endblock title%}

{% block header %} 
    <h1>Bienvenidos a la intranet</h1>
    <h2>{{user.username}}, has iniciado sesion</h2>
{% endblock header %}

{% block main %}
    <a href="{% url 'appUsersf:logout' %}">Cerrar sesión.</a>
    <br>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit sunt cupiditate quibusdam? Voluptates quam corrupti non, voluptate amet totam autem ipsa nihil nobis neque enim nam ratione ipsam iure. Molestias.</p> 
{% endblock main %}



