

*{
    margin:0;
    padding:0;
}

/* Codigo CSS aplicado en index*/


.contenedor{
    display: flex;
    max-width: 1200px;
    width: 100%;
    gap: 2%;
    padding: 2%;
    
}

.datos {
    flex: 1;
}

.texto {
    flex: 2;
    font-size: 16px;
    line-height: 1.6;
    border-style: solid;
    border-color: black;
    padding:2%;
    text-align: center;
}





/* Codigo CSS aplicado en formulario de contacto */


.contenedor_formulario{
    display: flex;
    max-width: 1200px;
    width: 100%;
    gap: 2%;
    padding: 2%;
    
}

.datos_formulario{
    
    flex:2;
}

.datos2{
    flex:1;

}


/* Codigo CSS aplicado en experiencia */


.contenedor_experiencia{
    display: flex;
    max-width: 1200px;
    width: 100%;
    gap: 2%;
    padding: 2%;
    
}

.datos_experiencia{
    
    flex:2;
}

.datos3{
    flex:1;

}

